{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "plugins": ["no-only-tests"],
  "rules": {
    "no-only-tests/no-only-tests": "error",
    "no-console": "off",
    "explicit-module-boundary-types": "off",
    "no-empty-function": "off"
  }
}
